* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif !important;
  background: #ffffff;
  color: #212529;
  margin: 0;
}
.titulo {
  font-weight: 600;
  color: #040405;
  margin: 20px 0;
  font-size: 30.5px;
}
.navegacion {
  justify-content: center;
  margin: auto;
}
.navegacion ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navegacion li {
  display: inline;
  font-size: 16px;
  padding-right: 10px;
}
.navegacion li .navegacion__redirect {
  text-decoration: none;
  color: rgba(26, 32, 44, 1);
}
.navegacion li .navegacion__redirect:hover {
  font-weight: 600;
  color: #34495e;
}
.navegacion__redirect.active {
  color: #254564 !important;
  font-weight: 600;
}

/* TABLA */
table.paleBlueRows {
  border: 2px solid #ffffff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.paleBlueRows td,
table.paleBlueRows th {
  border: 2px solid #ffffff;
  padding: 3px 2px;
}
table.paleBlueRows th {
  height: 40px;
}

table.paleBlueRows td {
  max-width: 200px;
  word-wrap: break-word;
  padding: 0 10px;
  height: 60px;
}
table.paleBlueRows .botones {
  padding: 0;
  width: 120px;
}
table.paleBlueRows .rowData:hover {
  background: #d6eaf8;
}
table.paleBlueRows tbody td {
  font-size: 15px;
  color: #000000;
}
table.paleBlueRows tr:nth-child(even) {
  background: #ebf5fb;
}
table.paleBlueRows td:nth-child(1) {
  text-align: center;
  width: 15px;
}
table.paleBlueRows thead {
  background: #0b6fa4;
  border-bottom: 5px solid #ffffff;
}
table.paleBlueRows thead th {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #ffffff;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot td {
  font-size: 14px;
}
table.venta th {
  height: 20px;
}
table.venta td {
  height: 30px;
  text-align: center;
}
.botones,
.button {
  text-align: center;
}
.crear-item {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.button {
  display: inline-flex;
  background-color: #3c7c96; /* Green */
  border: none;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.button__icon,
.button__text {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 100%;
  text-decoration: none;
}
.button__icon {
  padding: 0;
  margin-left: 8px;
}
.button__link {
  text-decoration: none;
}
.button__icon,
.icon {
  font-size: 1.2em !important;
  background: rgba(0, 0, 0, 0);
}
.crear {
  background-color: #27ae60; /* Green */
  align-items: center;
}
.crear:hover {
  background-color: #52be80; /* Green */
}
.crear:active {
  background-color: #27ae60; /* Green */
}
.egresar {
  background-color: #b03a2e; /* Green */
  align-items: center;
}
.egresar:hover {
  background-color: #e74c3c; /* Green */
}
.egresar:active {
  background-color: #b03a2e; /* Green */
}
.cancel {
  background-color: #e5e7e9; /* Green */
  align-items: center;
  color: #040405;
}
.cancel:hover {
  background-color: #f2f3f4; /* Green */
}
.cancel:active {
  background-color: #e5e7e9; /* Green */
}
.close {
  background-color: #2874a6; /* Green */
  align-items: center;
  margin: 10px 0;
}
.close:hover {
  background-color: #3498db; /* Green */
}
.close:active {
  background-color: #2874a6; /* Green */
}
.permiso {
  background-color: #2874a6; /* Green */
  align-items: center;
  margin: 10px 0;
}
.permiso:hover {
  background-color: #3498db; /* Green */
}
.permiso:active {
  background-color: #2874a6; /* Green */
}
.grp_bttn {
  display: flex;
}
.borrar {
  background-color: #b03a2e;
  height: auto;
  padding: 10px 10px;
  margin: 0 5px;
}
.borrar:hover {
  background-color: #e74c3c; /* Green */
}
.borrar:active {
  background-color: #b03a2e; /* Green */
}
.actualizar {
  background-color: #2874a6;
  height: auto;
  padding: 10px 10px;
  margin: 0 5px;
}
.actualizar:hover {
  background-color: #3498db; /* Green */
}
.actualizar:active {
  background-color: #2874a6; /* Green */
}
.show {
  background-color: #5dade2;
  height: auto;
  padding: 10px 10px;
  margin: 0 5px;
}
.show:hover {
  background-color: #85c1e9; /* Green */
}
.show:active {
  background-color: #5dade2; /* Green */
}
.limpiar {
  background-color: #e74c3c;
  /* height: auto;
  padding: 10px 10px;
  margin: 0;
  display: flex;
  margin-top: 10px; */
}

.limpiar:hover {
  background-color: #f1948a; /* Green */
}
.limpiar:active {
  background-color: #e74c3c; /* Green */
}
.activeuser {
  background-color: #239b56;
  height: auto;
  padding: 10px 10px;
  margin: 0 5px;
}
.activeuser:hover {
  background-color: #52be80; /* Green */
}
.activeuser:active {
  background-color: #239b56; /* Green */
}
.menu-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.item {
  color: #040405;
  background-color: transparent;
  font-size: 20px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}
.item {
  text-decoration: none;
}
.group .item.link {
  font-weight: 100;
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.caja__abrir {
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caja__ingresar {
  background: #ffffff;
  padding: 10px 50px 25px 50px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(104, 94, 94, 0.12) 0px 1px 4px 1px;
  width: 450px;
}
.caja__ingresar .caja__title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.caja__input {
  margin-bottom: 20px;
}
.abrir {
  justify-content: center;
  width: 150px;
  margin: auto;
}
.input {
  padding: 11px;
  text-align: right;
  font-size: 18px;
  border-width: 1px;
  border: 3px solid transparent;
  outline: none;
  background: #e8edf0;
  border-radius: 9px;
}
.input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
/* prueba */
.vertical-menu {
  width: 180px; /* Set a width if you like */
}

.vertical-menu .link {
  /* background-color: #eee; */
  color: #909497;
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline from links */
  padding-bottom: 0.5rem;
  font-size: 17px;
}
.navlink__icon__icon {
  font-size: 1.6em !important;
}
.navlink__icon,
.navlink__title {
  padding: 0 5px;
}

.vertical-menu .link.active {
  color: #579adc;
  font-weight: 600;
}
.row__config {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 25px;
}
.col-left {
  margin-right: 20px;
}
.col-right {
  background: #f8f9f9;
  width: 100%;
  height: 560px;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.contenido {
  padding: 15px 30px;
}
.row__ventaActual {
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  font-size: 18px;
}
.venta__title {
  font-weight: 600;
}
.venta__dato {
  font-weight: 400;
}
.venta__cliente {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
}
.search__info {
  width: 350px;
}
.search__info input[type="text"] {
  padding: 10px;
  height: auto;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 220px;
  border-radius: 5px;
}
.search__info input[type="text"]:focus {
  border: 3px solid #0075ff;
  outline: none;
}
.search__info button {
  float: left;
  width: auto;
  height: auto;
  padding: 6px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 5px;
}

.search__info button:hover {
  background: #0b7dda;
}

.search__info::after {
  content: "";
  clear: both;
  display: table;
}
.label__info {
  font-size: 20px;
  font-weight: 600;
}
.form__icon {
  font-size: 1.5em !important;
  padding: 0;
  margin: 0;
}

.title__info {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  margin: auto;
  padding: 20px;
  border: 2px dashed #0b7dda;
}
.venta__manual {
  /* display: flex; */
  margin: 15px 0;
}
.venta__btns {
  float: right;
  margin: 15px 0;
}
.venta__importe {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 15px 0;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: unset;
  align-content: space-between;
  /* margin-top: 15px; */
}
.c__venta {
  margin-top: 15px;
}
.item-0 {
  flex: 0 1 auto;
  align-self: auto;
  height: auto;
  width: 425px;
}

.item-1 {
  flex: 0 1 auto;
  align-self: auto;
  height: 100px;
  width: 100%;
}

.item-2 {
  flex: 0 1 auto;
  align-self: auto;
  height: auto;
  width: 250px;
}
.item-1 span,
.item-2 span {
  font-weight: 600;
}
.vista__1,
.vista__2 {
  width: 50%;
  padding: 15px 30px 15px 30px;
  background: #f8f9f9;
  height: 125px;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.vista__1 {
  margin-right: 7px;
}
.vista__2 {
  margin-left: 7px;
}
.agenda {
  width: 100%;
  margin: 15px 0;
}
.cant__producto {
  padding-left: 10px;
}
.info__cliente {
  background: #f8f9f9;
  width: 100%;
  height: auto;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.vtaservicio {
  margin-top: 15px;
}
.cant__producto input[type="number"] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 150px;
}
.cant__producto input[type="number"]:focus {
  border: 3px solid #0075ff;
  outline: none;
}
.cant__producto button {
  float: left;
  width: auto;
  height: auto;
  padding: 6px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
}
.venta__importe input[type="date"] {
  padding: 3px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 150px;
}
.venta__importe input[type="text"] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 150px;
}
.crear_venta {
  margin-right: 10px;
}
.test__1 {
  display: flex;
  justify-content: flex-end;
}
.venta__total {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  font-size: 23px;
  margin-left: 15px;
}
.venta__total__title {
  border: 2px solid #0b6fa4;
  background: #0b6fa4;
  color: #fff;
  font-weight: 600;
  padding: 3px;
}
.venta__total__total {
  text-align: end;
  margin-top: 3px;
  font-weight: normal;
}
.devolucion {
  margin-left: 10px;
}
.ingresar__productos {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 25px;
  background: #f8f9f9;
  height: auto;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
  padding: 30px 40px 0 40px;
}

.cita__med {
  height: 180px;
}
.filtro__busqueda {
  height: 100%;
  margin: 25px 0;
  padding: 30px;
  background: rgba(237, 242, 247, 1);
  box-shadow: 3px 5px 18px rgba(163, 163, 163, 0.4);
  border-radius: 0.5em;
}
.add__compra {
  font-weight: 600;
}
.cita__btn {
  margin-top: 0;
}
.pdg__ag {
  margin-top: 10px;
}
.receta {
  width: 30%;
  height: auto;
}
.ingreso {
  width: 70%;
  height: auto;
}
.permed {
  display: flex;
  justify-content: flex-end;
}
.permisoMedico {
  width: 70%;
  margin: 15px 0;
  height: auto;
}
.motpermiso {
  margin: 15px 0 0 0;
}
.reporteventa {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: auto;
}
.btnprod {
  margin: 25px 0;
}
.citainfo {
  width: 70%;
  margin-top: 0;
}
.recetainfo {
  width: 30%;
  margin-top: 0;
}
