.slidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  margin-top: 56px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  overflow: hidden;
  z-index: 100;
  transition: width 0.5s;
}
/* .slidebar:hover {
  width: 200px;
} */

.slidebar-expand {
  width: 200px;
}
.slidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.slidebar-nav-item {
  width: 100%;
}
.slidebar-nav-link {
  display: flex;
  align-items: center;
  color: #212529;
  text-decoration: none !important;
}
.slidebar-nav-link .slide-icon {
  font-size: 2rem !important;
  color: #727475;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slidebar-nav-link div {
  min-width: 80px;
  height: 50px;
  position: relative;
}
.slidebar-nav-link:hover {
  background: #f1f1f1;
  color: #eb4d4b;
}

.slidebar-nav-link.active {
  background: #f1f1f1;
  color: #eb4d4b;
}

.slidebar-nav-link.active div {
  border-left: 5px solid #eb4d4b;
}
.slidebar-nav-link.active .slide-icon {
  color: #eb4d4b;
  margin-left: -5px;
}
